.hidden {
  display: none;
}

body { 
  background-color: white;
  color: white;
  max-width: 2460px;
}


main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.blue-back {
  background-color: #0052A0;
  padding: 3px;
}

.red-back {
  background-color: #A2204A;
  padding: 3px;
}

.category {
  width: 100%;
  display: flex;
  flex-direction: column;
}


p { font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-align: justify;
}

section {
  color: white;
}

#categories {
  display: flex;
  flex-direction: column;
}

.svg {
  width: 33vw;
  margin-bottom: 10px;
}

.category {
  padding: 10px;
}

.graph { 
  padding: 5px; 
  cursor: pointer;
  margin-right: 5vw;
}

.graph img {
  margin-right: 0;
}

.popover { 
  display: none;
}

.popover {
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

span {
  font-size: 15px;
  font-family: acumin-pro-extra-condensed, sans-serif;
   font-weight: 400;
  font-style: normal;
}

.show-popover {
  display: flex;
  flex-direction: column;
}

.show-popover img {

}

/* -------------------------------- tablet --------------------------------- */

@media screen and (min-width: 680px) {
  .graph {
    margin-right: 2vw;
  }
}

/* -------------------------------- pc --------------------------------- */

@media screen and (min-width: 1024px) {
  p, .popover ,span {
    font-size: 28px;
    }

  .show-popover {
    display: flex;
    flex-direction: row;
    }

  .show-popover div {
    width: 33vw;
    margin-right: 2vw;
    }

  .show-popover img {
    width: 60vw;
    }
}
